@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Roboto, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-appear: appear 0.5s ease-in;

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@utility fill-mode-forwards {
  animation-fill-mode: forwards;
}

@utility animate-delay-1 {
  animation-delay: 0s;
}
@utility animate-delay-2 {
  animation-delay: 0.1s;
}
@utility animate-delay-3 {
  animation-delay: 0.2s;
}
@utility animate-delay-4 {
  animation-delay: 0.3s;
}
@utility animate-delay-5 {
  animation-delay: 0.4s;
}
@utility animate-delay-6 {
  animation-delay: 0.5s;
}
@utility animate-delay-7 {
  animation-delay: 0.6s;
}
@utility animate-delay-8 {
  animation-delay: 0.7s;
}
@utility animate-delay-9 {
  animation-delay: 0.8s;
}
