---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Now from "../components/Now.astro";
import Imprint from "../components/Imprint.astro";
import Made from "../components/Made.astro";
---

<Layout title="sacid celik | software engineer">
  <div class="absolute right-0 top-4 z-10 md:top-8"></div>

  <main
    class="m-auto p-3 grid gap-2 max-w-screen-lg overflow-hidden relative w-full sm:p-4 md:grid-cols-2 md:gap-3 md:p-6 lg:h-screen lg:grid-rows-8 lg:grid-cols-4 lg:gap-4 lg:max-h-[800px]"
  >
    <Welcome />
    <About />
    <Contact />
    <Now />
    <Made />
    <Imprint />
  </main>
</Layout>
