---
import Card from "./Card.astro";
import Pill from "./Pill.astro";

const skills = [
  "JavaScript",
  "Angular",
  "React",
  "Astro",
  "Node",
  "Sass",
  "Docker",
];
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-6 lg:row-span-7 md:col-start-1 lg:col-start-4 md:row-start-5"
  order="2"
>
  <div class="flex flex-col h-full">
    <h2 class="text-lg font-thin">about</h2>
    <p>
      i'm a software developer from germany and i love to build stuff. my career
      began in marketing at a FAANG company but my natural curiosity and love
      for problem-solving led me to dive into the exciting realm of web
      development.
    </p>
    <p class="md:mt-4">
      i am eager to branch out and lern new things and i choose my tools based
      on the customer's needs. however, my usual tools (so far) include:
    </p>
    <div class="flex mt-6 gap-2 w-full flex-wrap">
      {skills.map((skill) => <Pill>{skill.toLowerCase()}</Pill>)}
    </div>
  </div>
</Card>
