---
import Card from "./Card.astro";
---

<Card
  colSpan="md:col-span-2 lg:col-span-1"
  rowSpan="md:row-span-2"
  href="mailto:reach@sacidcelik.de"
  order="3"
>
  <h2 class="text-lg font-thin">contact me</h2>
  <p class="text-lg">
    happy to receive your message at <em>reach@sacidcelik.de</em>
  </p>
</Card>
