---
import Card from "./Card.astro";
---

<Card
  colSpan="md:col-span-1"
  rowSpan="md:row-span-2 lg:row-span-3 lg:row-start-4 lg:col-start-3"
  order="3"
>
  <h2 class="text-lg font-thin">contact me</h2>
  <p class="text-lg">
    let's collaborate! happy to receive your message at <em
      >reach@sacidcelik.de</em
    > or on the socials.
  </p>
</Card>
